@use 'abstracts/_variables' as *;
@use 'abstracts/_functions' as *;
@use 'abstracts/_mixins' as *;
@use 'abstracts/_placeholders' as *;

@use 'base/_reset' as *;
@use 'base/_typography' as *;
@use 'base/_base' as *;


/* =========================================================== */
/* MAIN CSS */


/* Header */
.l-header{
    width: 100%;
}

.l-header--navigation{
    padding: 1rem $page-content-padding;
    position: absolute;
    z-index: 5;
}

/* Navigation */

.c-nav{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-nav__header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.c-nav__title{
    font-size: $small-title-size;
    color: $tertiary-color;

    @media (max-width: $small-viewport){
        display: none;
    }
}

.c-nav__logo{
    width: 4rem;
}

/* Main */

.l-main__background{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;

    @media (min-width: $large-viewport){
        align-items: center;
    }
}

.l-main__background--hero{
    background-color: $main-background-color;
    min-height: 95dvh;
    border-radius: 0 0 60px 60px;

    @media (max-width: $small-viewport){
        border-radius: 0 0 30px 30px;
    }
}

/* Section */

.l-section{
    width: 100%;
    height: 100%;
    padding: 1.5rem $page-content-padding;

    display: grid;
    position: relative;
    gap: 1rem;

    @media (max-width: $medium-viewport){
        justify-content: center;
    }

    @media (min-width: $large-viewport){
        width: $large-viewport;
    }
}

.l-main__background--hero .l-section{
    padding-top: 10rem;
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    @media (max-width: $medium-viewport){
        grid-template-columns: 1fr;
    }
}

/* Article */

.c-article{
    display: grid;
    gap: 1rem;
}

.l-main__background--hero .c-article{
    gap: 3rem;
}

.c-article__header{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;

    @media (max-width: 320px){
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.c-article__banner{
    width: 9rem;
    height: 9rem;

    @media (max-width: $medium-viewport){
        width: 8rem;
        height: 8rem;
    }

    @media (max-width: $small-viewport){
        width: 7rem;
        height: 7rem;
    }

    @media (max-width: 320px){
        width: 5rem;
        height: 5rem;
    }
}

.c-article__main{
    width: 100%;
}

.l-main__background--hero .c-article--reply{
    background-color: $secondary-background-color;
    border-radius: $large-border-radius;
    padding: $large-padding;
    text-align: center;
    gap: 1rem;
    grid-template-rows: auto 1fr;

    .c-article__title{
        color: $highlight-color;
        width: 100%;
        font-size: $default-title-size;
        text-align: center;
    }

    .c-article__main{
        min-height: 5rem;
    }
}

.c-article__reply{
    width: 100%;
    padding-bottom: 1rem;
    color: $main-color;
    font-size: $default-text-size;
    font-weight: 600;
    text-align: center;
}

/* Form */

.c-form{
    display: grid;
    gap: 1rem;
}

.c-form__fieldset{
    border: 0;
    display: flex;
    gap: 1rem;
}

.c-form__label{
    width: 100%;
    gap: 0.2rem;

    font-size: $button-text-size;
    color: $main-color;
    font-weight: 700;


    display: flex;
    flex-direction: column;
}

.c-form__select{
    background: $main-color;
    border: 3px solid $main-color;
    border-radius: $small-border-radius;
    padding:  clamp(0.8rem, 1.2vw, 1rem) 0.5rem;

    font-size: $small-text-size;
    color: black;
    font-weight: 500;

    /* Ícone de seta personalizado */
    appearance: none; /* Remove o estilo padrão do sistema */
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

/* Button */

.c-button--cta{
    background-color: $tertiary-color;
    padding:  clamp(0.8rem, 1.2vw, 1rem) clamp(1.5rem, 2.5vw, 2rem);
    color: black;
    font-size: $small-text-size;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;

    box-shadow: 0 5px 0 $shadow-color;
    transition: 0.2s;

    &:hover{
        box-shadow: 0 4px 0 $shadow-color;
        transform: scale(1.01);
    }

    &:active{
        box-shadow: 0 0px 0 $shadow-color;
        transform: scale(1.01) translateY(4px);
    }
}

.c-button-submit{
    background-color: $button-color;
    color: $button-text-color;
    width: 100%;
    padding:  clamp(0.8rem, 1.2vw, 1rem) clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 700;
    border: 0;
    border-radius: $small-border-radius;
}